@tailwind base;
@tailwind components;
@tailwind utilities;



.heading-xl {
    font-weight: 700;
    font-size: 1.5rem;
    line-height:1.875rem ;
}

.heading-l {
    font-size: 1.125rem;
    line-height: 1.438rem;
    font-weight: 700;
}

.heading-m {
    font-size: 0.938rem;
    font-weight: 700;
    line-height: 1.188rem;
}

.heading-s {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.938rem;
    letter-spacing: 2.4px;
}

.p-med {
    font-size: 0.813rem;
    font-weight: 500;
    line-height:1.438rem ;
}

.p-bold {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.938rem;
}

button {
    transition: all 200ms ease-in;
}